@model ProductImageVM


    <div class="content">
        <h1>Create Product</h1>

        <form asp-controller="Product" asp-action="SaveProduct" enctype="multipart/form-data">
            <div class="form-group">
                <label asp-for="@Model.Product.Designer" class="control-label"></label>
                <input asp-for="@Model.Product.Designer" class="form-control" />
                <span asp-validation-for="@Model.Product.Designer" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Brand" class="control-label"></label>
                <input asp-for="@Model.Product.Brand" class="form-control" />
                <span asp-validation-for="@Model.Product.Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Title" class="control-label"></label>
                <input asp-for="@Model.Product.Title" class="form-control" />
                <span asp-validation-for="@Model.Product.Title" class="text-danger"></span>
            </div>
            <div>
                <label asp-for="@Model.Product.Type" class="control-label"></label>
                <select asp-for="@Model.Product.Type">
                    @foreach (var item in Enum.GetNames(typeof(SunglassesMarket.Models.Type)))
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Color" class="control-label"></label>
                <input asp-for="@Model.Product.Color" class="form-control" />
                <span asp-validation-for="@Model.Product.Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Product.Price" class="control-label"></label>
                <input asp-for="@Model.Product.Price" class="form-control" />
                <span asp-validation-for="@Model.Product.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Image.Title" class="control-label"></label>
                <input asp-for="@Model.Image.Title" class="form-control" />
                <span asp-validation-for="@Model.Image.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.Image.ImageFile" class="control-label"></label>
                <input asp-for="@Model.Image.ImageFile" accept="image/*" />
                <span asp-validation-for="@Model.Image.ImageFile" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Create</button>
            </div>
        </form>
    </div>